/* estructura de un selector css:
    nombre_del_selector {
        propiedad1: valor;
        propiedad2: valor;
        propiedad3: valor;
        ...
        propiedadN: valor;
    }
*/ 
/* selector de tipo (etiqueta html) */
h1 {
    /* formatos a la fuente/letra */
    color:rgb(198, 169, 102);
    font-size: 80px;
    font-family:'Franklin Gothic Medium';
    font-weight: 100;
    font-style: italic;
    font-style: oblique;
    text-decoration: wavy;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 20px;
    /* formatos al parrafo*/
    text-align: center;
}  

p{
    text-align: justify;
    line-height: 1.3;
    text-indent: 20px;
    margin: 50px; /* margen exterior*/
   /*margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: 100px 50px 20px 100px;
    margin: 200px 50px;
    border-left: 2px solid blue;
    border-top: 4px solid black;*/
    border: 5px solid rgb(233, 197, 54);
    padding: 20px;
    border-radius: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
    color: rgb(0, 0, 0);
    background-color: rgb(217, 210, 210);
}
    
